In [1]:
import pandas
import duckdb

In [2]:
conn=duckdb.connect()

#creating table from the initial csv file
conn.execute("""
            CREATE TABLE disease_data AS 
                SELECT * FROM read_csv_auto('initial/Disease_data.csv')
""")

In [3]:
#Verifying for Nulls

null_existence = conn.execute("""
                SELECT 
                COUNT(*)
                FROM disease_data
                where              
                    Temperature IS NULL OR
                    Humidity IS NULL OR
                    "Wind Speed" IS NULL OR
                    Visibility IS NULL OR
                    Pressure IS NULL OR
                    Disease IS NULL OR
                    "Disease In number" IS NULL
""").fetchone()[0]

print(f"Null existence       : {null_existence}")

Null existence       : 0

In [4]:
#Verifying disease string conformity


disease_cases=conn.execute(""" SELECT DISTINCT 
                                    disease 
                                FROM disease_data """).fetchdf()

disease_cases
#outputs two indentical Disease states formatted differently !!

        Disease
0   Late Blight
1  Early Blight
2  Late Blight

In [5]:
#CHECKING DISEASE IN NUMBER CONFORMITY EXPECTED OUTPUT 0

disease_number_check=conn.execute("""SELECT     
                                        count(*) as UNEXPECTED_STATE 
                                    FROM disease_data 
                                    WHERE "Disease in number" not in (1,0)""").fetchdf()

disease_number_check

   UNEXPECTED_STATE
0                 0

In [6]:
#TEMPERATURE MIN MAX CHECK
temp_range=conn.execute(""" SELECT 
                                MIN(Temperature) AS min_temp,
                                MAX(Temperature) AS max_temp 
                            FROM disease_data""").fetchdf()


temp_range

   min_temp  max_temp
0      17.5      30.4

In [7]:
#HUMIDITY MIN MAX CHECK
humidity_range=conn.execute(""" SELECT 
                                    MIN(Humidity) AS min_humidity, 
                                    MAX(Humidity) AS max_humidity 
                                FROM disease_data""").fetchdf()

humidity_range

   min_humidity  max_humidity
0            48            83

In [8]:
#WIND SPEED MIN MAX CHECK
wind_speed_range=conn.execute("""   SELECT 
                                        MIN("Wind Speed") AS min_wind_speed, 
                                        MAX("Wind Speed") AS max_wind_speed 
                                    FROM disease_data""").fetchdf()

wind_speed_range

   min_wind_speed  max_wind_speed
0             1.2            11.1

In [9]:
#VISIBILITY MIN MAX CHECK
visibility_range=conn.execute("""SELECT  
                                    MIN("Visibility") AS min, 
                                    MAX("Visibility") AS max 
                                FROM disease_data """).fetchdf()
visibility_range

   min   max
0  6.9  14.5

In [10]:
#PRESSURE MIN MAX CHECK
pressure_range=conn.execute(""" SELECT  
                                    MIN("Pressure") AS min, 
                                    MAX("Pressure") AS max 
                                FROM disease_data""").fetchdf()
pressure_range

      min     max
0  1012.6  1017.2

In [11]:
#INVALID WIND BEARING CHECK, WIND BEARING SHOULD BE NO LESS THAN 0 AND NO HIGHER THAT 360
#expected output 0
invalid_wind_bearings=conn.execute("""  SELECT 
                                           count(*)  
                                        FROM disease_data
                                        WHERE "Wind Bearing"<0
                                        OR "Wind Bearing">360
                                    """).fetchdf()
invalid_wind_bearings

   count_star()
0             0